body {
  overflow-x: hidden;
}

.fullsize-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.pagewidth {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  @include grid-container;
}

.separator {
  margin-top: calc(5rem + 6px);
  position: relative;

  &:before {
    position: absolute;
    content: "";
    width: 60px;
    height: 6px;
    background-color: $color__blue;
    top: -3rem;
  }

  @include mobile {
    margin-top: calc(4.5rem + 4px);

    &:before {
      top: -2.5rem;
      height: 4px;
      width: 40px;
    }
  }
}

header {
  width: 100vw;
  padding: 2em 0;
  z-index: 99;
  position: absolute;
  
  .pagewidth {
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;

    .site-branding {
      width: 220px;
  
      @include mobile {
        width: 120px;
      }
  
      .logo {
        display: block;

        img {
          vertical-align: middle;
        }
      }
    }
  
    &:after {
      content: none;
    }

    nav {
      a {
        position: relative;
        display: inline-block;
        color: #fff;
        font-size: 18px;
        text-decoration: none;
        font-weight: 800;
        background-color: $color__blue;
        padding: 4px 22px 4px 15px;
        border-radius: 4px;
        line-height: 1.5;
        margin: 0 12px;

        &:after {
          content: "";
          width: 8px;
          height: 100%;
          background-image: url(./../../img/chevron.svg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          position: absolute;
          top: 0px;
          right: 9px;
        }

        @include mobile {
          font-size: 12px;
        }
      }

      @include mobile {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        a {
          margin: 4px;
        }
      }
    }
  }

  @include mobile {
    padding: 1em 0;
  }
}

section.hero {
  .pagewidth {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .titles {
      @include grid-column(10, $desktop-grid);
      @include grid-push(1, $desktop-grid);
      
      @include mobile {
        @include grid-column(4, $mobile-grid);
      }

      h1, h2, h6 {
        margin: 8px;
        span {
          display: inline-block;
          padding: 10px 0;
          color: $color__blue;
          background-color: #fff;
          box-shadow: -10px 0 #fff, 10px 0 #fff;
          line-height: 1.35;
        }
      }

      h2 span { color: $color__blue--dark; }
      h6 {
        span {
          color: #fff;
          background-color: $color__blue;
          box-shadow: -10px 0 $color__blue, 10px 0 $color__blue;
        }
      }
    }

    .intro {
      @include grid-column(5, $desktop-grid);
      background-color: $color__blue;
      color: #fff;
      background-color: $color__blue;
      padding: 1em 3em;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
      font-size: 18px;
      line-height: 2;
      margin-bottom: -2.5em;

      &:after {
        content: "";
        width: 999px;
        height: 100%;
        background-color: $color__blue;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
      }

      @include mobile {
        @include grid-column(4, $mobile-grid);
        font-size: 14px;
        position: absolute;
        left: 0;
        padding: 1.5em 2em 1em;

        &:after {
          width: 20px;
          left: 100%;
        }
      }
    }
  }

  &.hero--short {
    .pagewidth {
      height: 75vh;

      h1 span {
        display: inline;
        line-height: 2;
      }
    }
  }
}

section.about {
  padding: 120px 0 60px;

  @include mobile {
    padding: 80px 0 30px;
  }


  .pagewidth {
    h2 {
      @include grid-column(10, $desktop-grid);
      @include grid-push(1, $desktop-grid);
      color: $color__blue--dark;
    }

    .content {
      @include grid-column(6, $desktop-grid);
      @include grid-push(2, $desktop-grid);
      font-size: 22px;
      font-weight: 700;
      line-height: 2;

      .portrait-size {
        position: absolute;
        top: 0;
        left: 100%;
        margin-left: 4em;
      }
    }

    .images {
      @include grid-column(10, $desktop-grid);
      @include grid-push(2, $desktop-grid);
      margin-top: 4em;

    }

    @include mobile {
      h2 {
        @include grid-column(4, $mobile-grid);
        @include grid-push(0);
      }

      .content {
        @include grid-column(3, $mobile-grid);
        @include grid-push(1, $mobile-grid);
        font-size: 16px;

        .portrait-size {
          display: none;
        }
      }

      .images {
        width: 100%;
        margin-left: 0;
        margin-top: 2em;
      }
    }
  }
}

section.keele-life {
  margin: 20px 0 60px 0;

  @include mobile {
    margin-bottom: 40px;
  }

  .pagewidth {
    h3,
    .content {
      @include grid-column(10, $desktop-grid);
      @include grid-push(2, $desktop-grid);

      p {
        column-count: 2;
        column-gap: 20px;
      }
    }

    h3 {
      color: $color__blue--dark;
    }

    @include mobile {
      h3, .content {
        @include grid-column(4, $mobile-grid);
      }
    }
  }
}

section.stats {
  .pagewidth {
    padding-top: 5em;

    .container {
      @include grid-column(5, $desktop-grid);
      background-color: $color__blue;
      color: #fff;
      margin-bottom: -5em;
      padding: 5em 3em;

      ul {
        padding: 0;
        border-bottom: 1px solid #fff;
        li {
          display: flex;
          padding: 15px 0 2em;
          border-top: 1px solid #fff;
          
          .item {
            flex-basis: 50%;
            h1 {
              font-size: 16px;
              margin: 0 0 4px;
            }

            h2 {
              font-size: 14px;
              font-weight: 300;
            }
          }

          .stat {
            h1 {
              line-height: .75em;
              font-family: "Helvetica Neue", Helvetica, sans-serif;
              small {
                font-size: 22px;
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
    
    @include mobile {
      padding-top: 3em;

      .container {
        @include grid-column(3, $mobile-grid);
        padding: 2em 1em;
        margin-bottom: -3em;

        ul {
          li {
            .item {
              h1 {
                font-size: 14px;
              }
              h2 {
                font-size: 10px;
              }
            }

            .stat {
              h1 {
                font-size: 28px;
                small {
                  font-size: 14px;
                  margin-left: 5px;
                }
              }
            }
          }
        }
      }
    }
  }
}

section.academic {
  margin-top: 150px;
  margin-bottom: 100px;

  @include mobile {
    margin-top: 100px;
    margin-bottom: 60px;
  }

  .pagewidth {
    .img {
      @include grid-column(7, $desktop-grid);
      padding-top: 50%;
    }

    .content {
      @include grid-column(5, $desktop-grid);
      margin-top: 3em;

      h3 {
        margin-left: -3em;
        color: $color__blue--dark;
      }

      ul {
        padding-left: 0;
      }

      .separator {
        margin-left: 2em;
      }
    }

    @include mobile {
      .img {
        margin-left: 0;
        width: calc(75% - 15px);
      }

      .content {
        @include grid-column(3, $mobile-grid);
        @include grid-push(1, $mobile-grid);
        margin-top: -1em;

        h3 {
          margin-left: 0;
        }

        .separator {
          margin-left: 0;
        }
      }
    }
  }
}

section.investments {
  margin: 100px 0;

  @include mobile {
    margin: 60px 0;
  }

  .pagewidth {
    position: relative;

    > .content {
      position: relative;
      @include grid-column(10, $desktop-grid);
      @include grid-push(1, $desktop-grid);
      margin-bottom: 3em;

      h3 {
        color: $color__blue--dark;
      }

      img {
        position: absolute;
        width: 40%;
        right: 0;
        top: 0;
      }

      .content {
        width: 50%;
      }
    }

    img.bigger {
      @include grid-column(8, $desktop-grid);
    }

    img.smaller {
      @include grid-column(6, $desktop-grid);
      position: absolute;
      right: 0;
      bottom: -4em;
    }

    @include mobile {
    > .content {
        @include grid-column(3, $mobile-grid);
        margin-bottom: 1em;

        img {
          display: none;
        }

        .content {
          width: 100%;
        }
      }
    }

    img.bigger{
      margin-left: 0;
      width: 100%
    }

    img.smaller {
      display: none;
    }
  }
}

section.employment {
  margin: 150px 0 120px;

  @include mobile {
    margin: 60px 0;
  }

  .pagewidth {
    h3 {
      color: $color__blue--dark;
      @include grid-column(3, $desktop-grid);
      @include grid-push(1, $desktop-grid);
      position: relative;

      &:after {
        position: absolute;
        content: "";
        width: 60px;
        height: 6px;
        background-color: $color__blue;
        bottom: -3rem;
        left: 0;

      }
    }

    .content {
      @include grid-column(7, $desktop-grid);
    }

    .logos {
      @include grid-column(10, $desktop-grid);
      @include grid-push(1, $desktop-grid);
      margin-top: 3em;
      display: flex;
      justify-content: space-between;
    }

    @include mobile {
      h3 {
        @include grid-column (1.5, $mobile-grid);

        &:after {
          width: 40px;
          height: 4px;
          bottom: -2rem;
        }
      }

      .content {
        @include grid-column(2.5, $mobile-grid);
      }

      .logos {
        width: 100%;
        margin-left: 0;

        .logo {
          padding: 0 10px;
        }
      }
    }
  }
}

section.student-story {
  margin: 100px 0;

  @include mobile {
    margin: 60px 0;
  }

  .pagewidth {
    position: relative;

    .img {
      @include grid-column(8, $desktop-grid);
    }

    .copy {
      @include grid-column(7, $desktop-grid);
      color: #fff;
      background-color: $color__blue;
      padding: 4em 4em 3em;
      position: absolute;
      top: 4em;
      right: 20px;

      .separator { margin-top: calc(4rem + 6px); }
      .separator:before {
        background-color: #fff;
        top: -2.5rem;
      }
    }

    @include mobile {
      .img {
        width: 100%;
        margin-left: 0;
      }

      .copy {
        width: 100%;
        margin-left: 0;
        position: relative;
        right: 0;
        top: 0;
        margin-top: -10px;
        padding: 2em;
      }
    }
  }
}

section.course {
  margin: 140px 0;

  .titles {
    @include grid-column(4, $desktop-grid);

    h2 {
      color: $color__blue--dark;
    }
    .content {
      font-size: 18px;
      line-height: 2;
      font-weight: 700;
    }
  }

  .accordion {
    @include grid-column(7, $desktop-grid);
    @include grid-push(1, $desktop-grid);
  }

  @include mobile {
    margin: 80px 0 60px;

    .titles {
      @include grid-column(4, $mobile-grid);

      .content {
        font-size: 14px;
      }
    }

    .accordion {
      @include grid-column(4, $mobile-grid);
      margin-top: 30px;
    }
  }
}

.accordion-container {

  .ac {
    margin-top: 0;
    border: none;
    border-top: 1px solid #B7B7B7;

    &:last-of-type {
      border-bottom: 1px solid #B7B7B7;
    }

    .ac-q {
      font-size: 28px;
      font-weight: 900;
      color: $color__blue;
      padding: .5em 0;
    }

    .ac-a {
      p {
        padding: 0 0 1em;
        font-size: 16px;
        line-height: 1.75;
      }

      a {
        color: $color__blue;
        text-decoration: none;
        border-bottom: 1px solid $color__blue;
      }
    }
  }

  @include mobile {
    .ac {
      .ac-q {
        font-size: 16px;
        padding: 1em 0;
      }

      .ac-a {
        p {
          font-size: 14px;
        }
      }
    }
  }
}

section.form {
  background-color: $color__blue--dark;
  padding: 3em 0;
  color: #fff;
  text-align: center;

  .pagewidth {
    .container {
      @include grid-column(8, $desktop-grid);
      @include grid-push(2, $desktop-grid);

      .text {
        margin-top: 1em;
      }

      .form-container {
        margin-top: 3em;

        ul {
          padding: 0;
          
          li {
            margin: 1em 0;

            label {
              float: left;
              width: 33.3%;
              text-align: right;
              padding-right: 1em;
            }

            > span {
              position: relative;
              display: inline-block;
              width: 66.6%;
              input, textarea {
                width: 100%;
              }

              .wpcf7-not-valid-tip {
                text-align: left;
              }
            }
          }
        }

        .wpcf7-response-output {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }

  @include mobile {
    padding: 2em 0;

    .pagewidth {
      .container {
        @include grid-column(4, $mobile-grid);

        .form-container {
          ul {
            padding: 0;
          }
        }
      }
    }
  }
}

footer {
  color: #fff;
  background-color: $color__black;
  padding: 2em 0;

  .tef {
    width: 200px;
    margin-top: 10px;
  }

  .pagewidth {
    .part-1 {
      @include grid-column(4, $desktop-grid);
    }

    .part-2 {
      @include grid-column(3, $desktop-grid);
    }

    .part-3 {
      @include grid-column(3, $desktop-grid);
    }

    .part-4 {
      @include grid-column(2, $desktop-grid);
      background-image: url('./../../img/map.png');
      background-size: 156px 268px;
      background-position: right top;
      background-repeat: no-repeat;
    }
  }

  @include mobile {
    p {
      margin-bottom: 0;
    }

    .pagewidth {
      .part-1,
      .part-2,
      .part-3{
        width: calc(50% - 10px);
      }

      .tef {
        width: 150px;
      }

      .part-2,
      .part-3 {
        margin-top: 1em;
      }

      .part-4 {
        width: calc(50% - 10px);
        height: 100%;
        position: absolute;
        right: 20px;
        background-size: contain;

        img {
          display: none;
        }
      }
    }
  }
}


section.kiite-intro {
  margin: 60px 0;

  .pagewidth {
    .media {
      @include grid-column(5, $desktop-grid);
    }

    .content-container {
      padding: 60px 0 0;
      @include grid-column(6, $desktop-grid);
      @include grid-push(1, $desktop-grid);

      .title {
        margin-bottom: 20px;
        color: $color__blue--dark;
      }
    }
  }

  @include mobile {
    margin-bottom: 0;

    .pagewidth {

      .media {
        @include grid-column(4, $mobile-grid);
      }
      .content-container {
        padding: 30px 0;
        @include grid-column(4, $mobile-grid);
        
        .title {
          margin-bottom: 10px;
        }
      }
    }
  }
}

section.keele-intro {
  margin: 60px 0;

  .pagewidth {
    .content-container {
      @include grid-column(10, $desktop-grid);
      @include grid-push(1, $desktop-grid);
      background-color: $color__blue--light;
      padding: 45px;
      color: #fff;
      font-weight: 600;

      a {
        color: #fff;
        border-bottom: 1px solid #fff;
        text-decoration: none;
      }
    }
  }

  @include mobile {
    margin: 0 0 30px;

    .pagewidth {
      .content-container {
        @include grid-column(4, $mobile-grid);
        font-size: 14px;
        padding: 20px;
      }
    }
  }
}

section.kiite-features {
  background-color: #F4F4F4;
  padding: 80px 0;

  .pagewidth {
    display: flex;
    align-items: center;

    .left {
      @include grid-column(5, $desktop-grid);
      font-weight: 600;

      .content-container {
        position: relative;
        margin-top: 70px;

        &:before {
          content: "";
          width: 45px;
          height: 6px;
          background-color: $color__blue--light;
          position: absolute;
          top: -36px;
          left: 0;
        }
      }
    }

    .right {
      @include grid-column(6, $desktop-grid);
      @include grid-push(1, $desktop-grid);

      ul {
        li {
          font-weight: 600;
          margin-bottom: 30px;
          position: relative;

          h1 {
            color: $color__blue--light;
            font-size: 22px;
            margin-bottom: 15px;
          }

          &:before {
            content: "";
            width: 22px;
            height: 28px;
            position: absolute;
            left: -32px;
            top: 0;
            background-image: url(./../../img/checkmark.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
          }
        }
      }
    }
  }

  @include mobile {
    padding: 40px 0;

    .pagewidth {
      flex-direction: column;
      align-items: flex-start;

      .left {
        @include grid-column(4, $mobile-grid);
        margin-top: 30px;
      }

      .right {
        @include grid-column(4, $mobile-grid);
        margin-top: 20px;
      }
    }
  }
}

section.kiite-services {
  margin: 80px 0;

  .pagewidth {
    .accordion,
    .label {
      @include grid-column(8, $desktop-grid);
      @include grid-push(2, $desktop-grid);
    }

    .label {
      text-align: center;
      font-size: 18px;
      margin-top: 30px;
    }
  }

  @include mobile {
    margin: 40px 0;

    .pagewidth {
      .accordion,
      .label {
        @include grid-column(4, $mobile-grid);
      }
    }
  }
}

section.notice {
  background-color: $color__blue--dark;
  padding: 60px 0;
  text-align:center;

  .pagewidth {
    .content-container {
      @include grid-column(8, $desktop-grid);
      @include grid-push(2, $desktop-grid);
      color: #fff;
      font-weight: 600;

      h4 {
        margin-bottom: 20px;
      }

      ul {
        margin: 0;
        padding: 0;

        li {
          margin-bottom: 10px;
        }
      }
    }
  }
}


.social-media {
  display: inline-flex;
  justify-content: flex-end;

  a {
    color: #fff;
  }

  .social-media__wechat {
    position: relative;
  }

  .social-media__name {
    display: inline-block;
    padding-left: 1.85em;
    vertical-align: middle;
    background-color: transparent;
    background-size: 1.5em;
    margin-top: -2px;
    background-repeat: no-repeat;
    background-position: left center;
    cursor: pointer;
  }

  .qrcode {
    position: absolute;
    width: 150px;
    height: 150px;
    right: 0;
    top: 100%;
    z-index: 9;
    display: block;
    visibility: hidden;
    transform: translateY(10px);
    opacity: 0;
    transition: 0.3s all ease-in-out;
  }

  .wechat:hover + .qrcode {
    opacity: 1;
    transform: none;
    visibility: visible;

    @include mobile {
      opacity: 0;
      visibility: hidden;
    }
  }
}
