body,
button,
input,
select,
optgroup,
textarea {
	color: $color__black;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
	
	@include mobile {
		font-size: 14px;
	}
}

@import "headings";

@import "copy";
